<section id="about" class="about-section">
    @* <h2>About</h2> *@
    <div class="about-content">
        <div class="about-text">
            <p>Hello! I'm Adam Vue</p>
            <div class="highlight-role">Software Engineer / Developer</div>
            <p>
                Currently, I am a Computer Science student at
                Wayne State University in Detroit, MI. What up doe!
                Alongside my studies, I work at Computing & Information Technology WSU
                as a project management intern and I had experiences
                working as a Software Development Intern
                at Tyler Technologies where I worked to grow my development
                skills while empowering the public sector! 
            </p>
            <p>
                I enjoy building web applications, learning new frameworks,
                and solving challenging problems through code! I am looking for opportunities
                to expand my horizons!
            </p>
        </div>

        @* <div class="profile-container">
            <div class="blur-circle"></div>
            <img src="images/me.jpeg" alt="Adam Vue" class="profile-pic">
        </div> *@

        <div class ="blur-circle2"></div>
    </div>
</section>
