.about-section {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    padding: 0 0 10rem 0;
}

.about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 2rem;
}

.about-text {
    flex: 1; 
    text-align: left;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    width: 100%;
}

.highlight-role {
    color: rgba(255, 97, 32, 1); 
    font-weight: 700; /* bold */
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem 0;
}

.profile-container {
    position: relative; 
    width: 280px;
    height: 280px;
    flex-shrink: 0;
}

.profile-pic {
    width: 280px;
    height: 280px;
    border-radius: 50%; 
    object-fit: cover;
    border: 3px outset rgba(103, 146, 103, 1); 
    position: relative; 
    z-index: 1;
}

.blur-circle {
    position: absolute;
    top: -40px;       
    left: -40px;     
    width: 420px;     
    height: 420px;
    background: rgba(103, 146, 103, 1);
   
    border-radius: 50%;
    filter: blur(40px);
    z-index: 0;
}

.blur-circle2 {
    position: absolute;
    top: -402px;       
    left: -402px;     
    width: 420px;     
    height: 420px;
    background: rgb(179, 181, 14);
   
    border-radius: 50%;
    filter: blur(40px);
    z-index: 0;
}