<section id="about" class="about-section">
    <div class="about-content">
        <div class="about-text">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap" rel="stylesheet">
            <p>
            Hello! I'm &nbsp; <span id="name">Adam Vue</span> ,
            </p>
            <div class="highlight-role">Software Developer</div>
            <p>
                I’m a Computer Science student at Wayne State University in Detroit, MI — what up doe! 
                👋 Alongside my studies, I work as a Project Management Intern at WSU’s Computing & Information Technology department, and previously, 
                I sharpened my development skills as a Software Development Intern at Tyler Technologies, helping empower the public sector through tech. 
            </p>
            <p>
                I enjoy building web applications, learning new frameworks,
                and solving challenging problems through code! I am looking for opportunities
                to expand my horizons!
            </p>
        </div>
        @* <div class ="blur-circle2"></div>  ADD THESE BACK LATER!!!!!!!!!!!!*@
    </div>
    @* <div class="blur-circle"></div> *@

</section>
