<section id="contact" class="contact-section">

    <div class="contactArea">
        <a href="mailto:athevue@gmail.com" target="_blank" aria-label="email">
            Email
        </a>
        <a href="https://www.linkedin.com/in/adam-vue/" target="_blank" aria-label="linkedin">
            LinkedIn
        </a>
        <a href="https://github.com/athevue" target="_blank" aria-label="github">
            GitHub
        </a>
    </div>

</section>


