<section id="contact" class="contact-section">
    <div class="contact-card-inner">
        <img src="images/me.jpeg" alt="Adam Vue" class="contact-photo" />
        <div class="contact-info">
            <h3>Adam Vue</h3>
            <p>Computer Science Student</p>
            <div class="contact-links">
                <a href="mailto:athevue@gmail.com" target="_blank" aria-label="email" class="highlight-link">
                    <img src="images/gmail.svg"> athevue@gmail.com
                </a>
                <a href="https://www.linkedin.com/in/adam-vue/" target="_blank" aria-label="linkedin" class="highlight-link">
                    <img src="images/linkedin.svg"> LinkedIn
                </a>
                <a href="https://github.com/athevue" target="_blank" aria-label="github" class="highlight-link">
                    <img src="images/github.svg"> GitHub  
                </a>
            </div>
        </div>
    </div>
</section>
