.about-section[b-h7kxegnjpm] {
    font-family: 'Montserrat', sans-serif; 
    color: #111;
    padding: 0 0 5rem 0;
    font-size: larger;
}

.about-content[b-h7kxegnjpm] {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 2rem;
}

.about-text[b-h7kxegnjpm] {
    flex: 1; 
    text-align: left;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif; 
    max-width: 600px;
    width: 100%;
}

.highlight-role[b-h7kxegnjpm] {
    color: rgba(255, 97, 32, 1); 
    font-weight: 700; /* bold */
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem 0;
}

/* .profile-container {
    position: relative;
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    border: 3px outset rgba(103, 146, 103, 1); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: 82% 15%; 
    display: block;
    transition: transform 0.3s ease;
} */


.blur-circle[b-h7kxegnjpm] {
    position: absolute;
    top: -40px;       
    left: -40px;     
    width: 420px;     
    height: 420px;
    background: rgba(103, 146, 103, 0.75);
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
}

.blur-circle2[b-h7kxegnjpm] {
    position: absolute;
    bottom: 150px;       
    left: -100px;   /* shifted left */
    width: 400px;     
    height: 400px;
    background: rgba(255, 183, 77, 0.3);
    border-radius: 50%;
    filter: blur(200px);
    z-index: 0;
}