.page {
    margin: 0;
    padding: 0 8rem; /* space for sidebar */
    min-height: 100vh;
    background-color: white;
    position: relative;
}

.mainLinks {
    position: fixed;
    z-index: 100; 
    left: 2rem;        
    bottom: 0%;        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mainLinks_icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.2s, opacity 0.2s;
}

.mainLinks a:hover .mainLinks_icon {
    transform: scale(1.2);
    opacity: 0.8;
}

.mainLinks_line {
    width: 2px;
    height: 10rem;
    background-color: currentColor;
    opacity: 1;
    margin-top: 1rem;
}
