.page {
    margin: 0;
    padding: 0 8rem; 
    min-height: 100vh;
    background-color: #FBF6F1;
    position: relative;
}

.mainLinks {
    position: fixed;
    z-index: 100; 
    left: 2rem;        
    bottom: 0%;        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.mainLinks_icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.2s, opacity 0.2s;
}

.mainLinks a:hover .mainLinks_icon {
    transform: scale(1.2);
    opacity: 0.8;
}

.mainLinks_line {
    width: 2.75px;
    height: 7.5rem;
    background-color: currentColor;
    opacity: 1;
    margin-top: .75rem;
}

.profile-container {
    position: relative;
}

.profile-pic {
    position: absolute;
    top: 0;
    right: 0;
    width: 28vw;           
    height: 650vw;          
    max-height: 70vh;    
    max-width: 25vw;
    object-fit: cover;
    border-bottom-left-radius: 50rem;
    z-index: 1;
    pointer-events: none;
}


/* highlight text */
::selection {
    background-color:rgba(255, 204, 0, 0.4); 
}

@media (max-width: 768px) {
    .page {
        padding: 0 2rem; /* reduces left + right space */
    }
    .mainLinks{
        display: none;
        gap: none;
    }

}

@media (max-width: 425px){
    .profile-pic {
        width: 40vw;
        height: 52vw;
    }
}


@media (min-width: 1400px){
    .profile-pic {
        width: 40vw;
        max-height: 55vh;    /* caps height on large screens */
    }
}