.page {
    margin: 0;
    padding: 0 8rem; /* space for sidebar */
    min-height: 100vh;
    background-color: #FBF6F1;
    position: relative;
}

.mainLinks {
    position: fixed;
    z-index: 100; 
    left: 2rem;        
    bottom: 0%;        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.mainLinks_icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.2s, opacity 0.2s;
}

.mainLinks a:hover .mainLinks_icon {
    transform: scale(1.2);
    opacity: 0.8;
}

.mainLinks_line {
    width: 2.75px;
    height: 7.5rem;
    background-color: currentColor;
    opacity: 1;
    margin-top: .75rem;
}

.profile-container {
    position: relative;
}

.profile-pic {
    position: absolute; /* makes top/right work */
    top: 0;
    right: 0;
    width: 400px;
    height: 600px;
    /* max-width: 70vw;
    max-height: 60vh; */
    object-fit: cover;
    border-bottom-left-radius: 50rem;
    z-index: 1; /* behind other content */
    pointer-events: none; /* optional: allow clicks through image */
}
